@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: "Open sans", sans-serif;
}
div img{
    display: block;
    width: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.container {
   
    width: 98.7vw;
}
header{
    background-color: #122A57;
    height: 100px;
    color: white;
    width: 98.7vw;
    display:flex;
    align-items: center;
   
    
}
header a{
    color: white;
}
 .menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5%;
}
header .list-items{
    width: 100%;
    max-width: 260px;
    display: flex;
    justify-content: space-between;
}
.apresentação{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}
.apresentação .texto h1{
    margin-bottom: 10px;
    color: #122A57;
    font-size: 48px;

}
.btn{
    display: block;
    background-color: #122A57;
    color: white;
    max-width: 200px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
}
.apresentação a:hover{
    text-decoration: underline;
}
.quem-somos{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.item-qsm{
  flex: 1;
}
.quem-somos h2{
    font-size: 32px;
    color: #122A57;
    display: flex;
}
.quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color:#122A57;
    position: relative;
}
.quem-somos p{
    margin-bottom: 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap
    
}
.container-externo{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container-interno{
    background-color: #122A57;
    display: flex;
    flex-direction: column;
    padding: 4% 8%;
}
.titulo-interno{
    font-size: 24px;
    margin-bottom: 60px;
    color: white;
    align-self: center;
}
.container-interno .ofertas{
    display: flex;
    flex:1;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 20px;
}
.item img{
    margin-bottom: 15px;
    max-width:160px;
}
.item p {
    margin: 10px;
    color: white;
}
.item a{
    text-decoration: none;
    width: 220px;
    background-color: white;
    border-radius: 30px;
    color: #122A57;
    padding: 5px;
    font-weight: bolder;
    font-size: 16px;
}
.item a:hover{
    text-decoration: underline;
}
.container-planos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px 15vw ;
}
.titulo-planos{
    color: #122A57;
    align-self: flex-start;
    font-size: 32px;
}
.planos{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    width: 100%;
    flex-wrap: wrap;
}
.plano{
    display: flex;
    flex-direction: column;
    border: 4px solid #122A57;
    margin: 20px;
    padding: 20px;
    flex: 1;
}
.plano h3{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}
.plano h3::after{
    content: "";
    background-color: #122A57;
    height: 3px;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px; ;
}
.plano ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}
.plano ul li{
    display: flex;
    margin-bottom: 20px;
}
.plano ul li::before{
    content: "";
    background-color: #122A57;
    height: 5px;
    width: 5px;
    align-self: center;
    margin-right: 5px;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #122A57;
    color: white;
    align-items: center;
    padding: 25px;
}
footer p{
    padding: 5px;
}
@media(max-width: 960px){ 
    .container{
       flex-direction: column;
    }
    .item-qsm{
        margin: 0% 5%;
    }
}